prune examples
prune fonts
prune libtcod
prune tests

include *.py *.cfg *.txt *.rst

recursive-include tdl *.py *.png *.txt *.md *.rst

recursive-include tcod *.py *.c* *.h

recursive-include libtcod/src *.c* *.h* *.glsl*
include libtcod/*.txt libtcod/*.md

recursive-include dependencies/fake_libc_include *.h

exclude tcod/*/SDL2.dll
