attrs>=23.1.0
cffi>=1.15
numpy>=1.21.4
pycparser>=2.14
requests>=2.28.1
setuptools==70.0.0
types-cffi
types-requests
types-Pillow
types-setuptools
types-tabulate
typing_extensions
pcpp==1.30
