include *.txt
include tdl/*.bmp
include tdl/*.png
include tdl/*.txt
include tdl/VERSION
include tdl/lib/*.txt
include tdl/lib/linux*/*.so
include tdl/lib/win32/*.dll
include tdl/lib/darwin/*
include tdl/lib/darwin/SDL.framework/Versions/A/SDL
include fonts/*.png
include fonts/*.txt
include fonts/*/*.png
include fonts/*/*.txt
include Frameworks/*.framework.tar
include Frameworks/*.dmg
include examples/*.py
include docs/*
exclude docs/*.bat
include ez_setup.py
exclude build/*
exclude dist/*