Source: tdl
Maintainer: Kyle Benesch <4b796c65+tdl@gmail.com>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python3-setuptools, python-all-dev (>= 2.6.6-3), python3-all-dev, debhelper (>= 9), libsdl2-dev, python-pycparser, python3-pycparser, python-cffi, python3-cffi, python-numpy, python3-numpy
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Homepage: https://github.com/HexDecimal/python-tdl

Package: python-tdl
Provides: python-libtcod
Conflicts: python-libtcod
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, libsdl2-2.0-0
Description: Pythonic cffi port of libtcod.
 .. contents::
    :backlinks: top
 .
 ========
  Status
 ========
 |VersionsBadge| |ImplementationBadge| |LicenseBadge|
 .
 |PyPI| |RTD| |Appveyor| |Travis| |Coveralls| |Codecov| |Codacy| |Scrutinizer| |Landscape|
 .
 |Requires| |Pyup|
 .
 =======
  About
 =======
 This is a Python cffi_ port of libtcod_.
 .
 This library is `hosted on GitHub <https://github.com/HexDecimal/python-tdl>`_.
 .
 Any issues you have with this module can be reported at the

Package: python3-tdl
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: Pythonic cffi port of libtcod.
 .. contents::
    :backlinks: top
 .
 ========
  Status
 ========
 |VersionsBadge| |ImplementationBadge| |LicenseBadge|
 .
 |PyPI| |RTD| |Appveyor| |Travis| |Coveralls| |Codecov| |Codacy| |Scrutinizer| |Landscape|
 .
 |Requires| |Pyup|
 .
 =======
  About
 =======
 This is a Python cffi_ port of libtcod_.
 .
 This library is `hosted on GitHub <https://github.com/HexDecimal/python-tdl>`_.
 .
 Any issues you have with this module can be reported at the

