on:
  push:
    tags:
      - "*.*.*"

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Generate body
        run: |
          scripts/get_release_description.py | tee release_body.md
      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          name: ""
          bodyFile: release_body.md
